data/raw/creditcard.csv

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.pytest_cache/

# =========================
# Data (RAW + PROCESSED)
# =========================
data/raw/
data/processed/
models/data/
models/data/processed/

# Ignore ALL CSV files (datasets, outputs, predictions)
*.csv

# =========================
# Model Artifacts
# =========================
*.joblib
*.pkl

# =========================
# OS / Editor junk
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Logs & temp
# =========================
*.log


